/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
jfxbutton {
    
}

.backgroundOrange {
	-fx-control-inner-background: orange;
}

.backgroundWhite {
	-fx-control-inner-background: white;
}

.text-area {
    text-area-background: orange ;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}
